
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.uma-grid-search {
  border-color: rgb(55, 65, 81);
  background-color: rgb(17, 24, 39);
  color: rgb(243, 244, 246);
}

.uma-grid-search::placeholder {
  color: rgb(107, 114, 128);
}
